@charset "utf-8";

*{margin: 0;padding: 0;}

body, html{width: 100%; background: #000; font-family: 'Nanum Gothic Coding', monospace; font-weight: 100;
-ms-overflow-style: none;}
::-webkit-scrollbar{display: none;}
ul{list-style: none;}
a{text-decoration: none; border:0; outline:0; }
image{border: none;}
button, label, input{outline: none; border: none; cursor: pointer; background: transparent;}

/* 주요 레이아웃 */
#menu_box{position: fixed;top: 0;left: -39.5%; width: 390px; height: 100vh; float: left;
z-index: 100; background: #000; box-shadow: 1px 0px 10px #8d819c; transition: 0.6s;}
#content_wrap{width: calc(100% - 80px); height: 100vh; padding-left: 85px;}
#menu_box.on{left: 0;}
/* header */
.logo{display: block; margin-left: 30px; padding-top: 20px; width: 120px;}
.logo img{display: block; width: 100%;}
.menu_icon{position: absolute; top: 20px; right: 20px;}

#gnb{width: 80%; height: 100%; overflow-y: auto; padding: 40px 0px 30px 30px;}
.gnb_box{width: 100%; height: auto;}
.gnb_box li.gnb_tit{margin-top: 30px;}
.gnb_box li a.gnb_txt{display: block; padding: 10px; color: #ffffff; font-size: 20px;}
.plus{display: block; float: right; margin-right: 30px;}

.sub_box{width: 100%; display: none; margin-top: 10px;padding-top:15px; padding-bottom: 15px;}


.sub_box li{margin-top:0.5rem;}
.sub_box li a{display: block; color: #ffffff;
    font-size: 14px; width: 40%; height:30px; line-height: 30px; text-indent: 15px;}

.ft_menu{clear: both; width: 100%; height: 80px; position: relative; margin-top: 170px;}
.ft_menu:before{content: ""; width: 30px; height: 3px; display: block; position: absolute;
left: 0; bottom: 6rem; background: #5e4e71;}
.ft_menu li{width: 100%;}
.ft_menu li a{ width: 100%; display: block; font-size: 12px; color: #ccc; padding: 5px;margin-top: 1rem;}

.sns_box{clear: both; margin-top: 20px;}
.sns_box li{float: left; margin: 5px; width: 40px; height: 40px;}
.sns_box li img{display: block; width: 100%;}
.copyright{clear: both; width: 80%; color: #9d84bc; line-height: 1.5; font-size: 10.5px; padding-top: 50px; padding-bottom: 130px;}


/* main 영역 */
.boardimg{display: block;width: 100%;}
.board_stxt{color: #ccc; width: 300px; padding: 15px; margin-left:50px; margin-top: 30px; font-size: 14px;}
.board_tit{color: #ccc; font-size: 32px; font-weight: lighter; text-align: center; padding: 30px; margin-bottom: 20px;}







/* 게시판 */
.tb{margin: 1em 0; min-width: 300px; border-top: 2px solid #5e4e71; border-bottom: 2px solid #5e4e71;} 
.tb th{display: none;}
.tb td{display:block; clear:both; line-height: 3; }
.tb td:first-child{padding-top: 0.5em;}
.tb td:last-child{padding-bottom: 0.5em;}
.tb td:before{
    content: attr(data-val) ": ";
    font-weight: bold;
    width:100px;
    color: #5e4e71;
    display:block;
    float:left;
    margin-left: 15px;
}
.num_box{clear: both; margin-left: 10rem; margin-top: 2rem;}
.tb td a{color: #ccc; text-decoration: none;}

.tb th .tb td{text-align: left;}

.board_fr{width: 100%; padding: 20px; position: absolute; top: 15rem; background: #000; z-index: 10;}
.board_fr div{line-height: 80px; }
.board_fr div a{padding: 5px 15px; color: #ccc;}
.board_fr div a.on{ color: #ccc; background: #5e4e71;}
.board_fr:target{z-index: 11;}

.num{ text-align:left; color: #cccccc; border-top: 1px solid #5e4e71;}
.numnone{border-top: none;}
.date{ text-align:left; color: #cccccc; }
.title a{ display:block; overflow: hidden; white-space: nowrap; 
    text-overflow: ellipsis; padding-left:0px; width:500px; float:left; line-height:48px;  
padding-right: 20px; }