@charset "utf-8";

*{margin: 0;padding: 0;}

body, html{width: 100%; background: #000; font-family: 'Nanum Gothic Coding', monospace; font-weight: 100;
-ms-overflow-style: none;}
::-webkit-scrollbar{display: none;}
ul{list-style: none;}
a{text-decoration: none; border:0; outline:0; }
image{border: none;}
button, label, input{outline: none; border: none; cursor: pointer; background: transparent;}

/* 주요 레이아웃 */
#menu_box{position: fixed;top: 0;left: 0; width: 390px; height: 100%; float: left;
z-index: 10; background: #000; box-shadow: 1px 0px 10px #8d819c;}
#content_wrap{width: calc(100% - 390px); height: 100vh; padding-left: 390px;}

/* header */
.logo{display: block; margin-left: 120px; padding-top: 30px;}
.menu_icon{display: none;}


/* 메뉴 aside */
#gnb{width: 80%; height: 100%; overflow-y: auto; padding-top: 40px; margin-left: 40px;}
.gnb_box{width: 100%;  }
.gnb_box li.gnb_tit{margin-top: 30px;}
.gnb_box li a.gnb_txt{display: block; cursor: pointer; padding: 10px; color: #fff; font-size: 20px; }
.plus{display: block; float: right; margin-right: 30px;}

.sub_box{width: 100%;margin-top: 10px; display: none; padding-top: 20px; padding-bottom: 20px;}
.sub_box li{margin-top:1rem;}
.sub_box li a{display: block; color: #ffffff;
    font-size: 14px; width: 40%; height:30px;text-indent: 20px; transition: 0.2s;}
.sub_box li a:hover{color: #9d84bc; font-weight: bold;}

/* footer */
.ft_menu{clear: both; width: 100%; height: 80px; position: relative; margin-top: 70px;}
.ft_menu:before{content: ""; width: 30px; height: 2px; display: block; position: absolute;
top: -20px; left: 5px; background: #5e4e71;}
.ft_menu li{width: 100%;}
.ft_menu li a{ width: 100%; display: block; font-size: 12px; color: #ccc; padding: 5px;margin-top: 1rem;}

.sns_box{clear: both; width: 100%; margin-top: 20px;}
.sns_box li{float: left; margin: 5px;}
.copyright{clear: both; width: 100%; padding-top: 40px; color: #9d84bc; line-height: 1.5; font-size: 11px;  padding-bottom: 150px;}


/* main 영역 */
.programimg{display: block; width: 100%;}

.intro_box{width: 90%; height: 250px; margin: 30px auto; position: relative;}
.intro_box h1{color: #ccc;margin: 15px; padding-top: 30px; text-align: center;}
.opening{color: #939393; display:block; text-align: center;}
.program_com{color: #939393; line-height: 1.8; font-size: 13px; width: 85%; margin: 30px auto; padding: 10px;}

.pro_mainbox{width: 90%; margin: 120px auto; }
.programs{width: 100%;}
.programs li{width: 96%; height: 300px; padding: 30px; border-top:1px solid #939393;}
.proimg{width: 400px; height: 250px; display: block; float: left; margin-left: 15px;}
.proimg img{display: block; width: 100%; padding-top: 15px; height: 100%;}
.com_box{float: right; width: 67%; height: 250px;}
.com_box h3{color: #ccc; font-size: 26px; width: 100%; float: left; padding: 20px; margin-left: 30px; margin-top: 20px; font-weight: lighter;}
.com_box h5{color: #ccc; font-weight: lighter; width: 100%; padding: 10px; margin-left: 40px;}
.com_box p{color: #939393; font-size: 14px; width: 60%; line-height: 1.5; margin-left: 50px;}
