/* header 영역 */
#hd{clear: both; width: 100%; height: 120px; overflow: hidden;}
.menu_btn{display: block; margin-left: 15px;margin-top: 10px; padding: 5px;
float: left; width: 50px; height: 50px;}
.menu_btn img{display: block; width: 100%;}
.logo{display: block; padding: 5px; margin-top: 30px; width: 150px; margin-top: 12px; 
    margin-left: 48px; float: left;}
.logo img{display: block; width: 100%;}
.search_btn{display: block; float: right; margin-right: 15px; margin-top: 10px; width: 45px; height: 45px;}
.search_btn img{display: block; width: 100%;}

/* 메뉴박스 */
#gnb{position: fixed; top: 0; left: -110%; width: 100%; height: 100vh; 
    background: #467e43; z-index: 100; transition: 1s;}
#gnb.on{left: 0%;}
.ham_box{width: 240px; padding: 10px; margin-left: 20px;}
.ham_box li{padding: 5px;margin-top:0.5rem;}
.ham_box li:nth-child(1):before{content: ""; width: 2px; height: 20px; display: block; 
position: absolute; top: 1.5rem; left: 20px; background: #fff;}
.ham_box li:nth-child(3):before{content: ""; width: 2px; height: 20px; display: block; 
    position: absolute; top: 3.7rem; left: 20px; background: #fff;}
.ham_box li:nth-child(2){display: none;}
.ham_box li a{ display: block; color: #ffffff; font-size: 14px; font-weight: 500;}
.menu_box{width: 100%; height: auto;}
.menu_box li.main_txt{width:90%; margin: 0 auto; margin-top: 0.31rem; background-color: #fff; }
.menu_box li a.main{display: block; color: #467e43; font-size: 20px; text-indent: 5px; padding: 10px; font-weight: border;
font-weight: 500; border-bottom: 3px solid #467e43;}
.menu_box li a.main:after{content: "▼"; display: block; font-size: 15px; float: right; margin-right: 5px;margin-top: 5px;}
.main_txt .main:after.on{content: "▲";}

.sub_box{width: 60%; overflow: hidden; display:none;}
.sub_box li{width: 100%;}
.sub_box li a{display: block; color: #467e43; font-weight: 500; width: 95%; text-indent: 30px; line-height: 2.5rem; padding: 5px; font-weight: bold;}


.close{position: absolute; top: 10px; right: 10px; width: 60px;}
.close img{display: block; width: 100%;}

.sns_box{width: 100%; margin-top: 13.5rem; position: relative;}
.snss{padding-top: 1rem; margin-left: 10px;}
.snss li:nth-child(2n){width: 38%; margin-right: 0;}
.snss li span{display: block; width: 100%; font-size: 18px; padding: 10px;padding-bottom: 20px; margin-left: 10px;
color: #fff; font-weight: 500;}
.snss li span:after{content: "";display: block; width: 120px; height: 1px; position: absolute; top: 2.5rem; right: 55px; background-color: #fff;}
.snss li:nth-child(2), .snss li:nth-child(3), .snss li:nth-child(4), .snss li:nth-child(5),.snss li:nth-child(6){display: none;}
.snss li a{ width: 30px; height: 30px; display: block; float: left; margin-right: 1%; margin-left: 5%; padding: 5px;}
.snss li a img{display: block; width: 100%;}

.close{position: absolute; top: 0; right: 0px;}
.close img{display: block; width: 90%; height: auto;}

/* circle_box 영역 */
.circle_wrap{width: 97%; height: 1400px; margin: 0px auto;}
.circle_box{width: auto;}
.circle_box li{width: 324px; height: 324px; border-radius: 50%; float: left;
position: relative; margin: 20px; }
.circle_box li a{transition: transform 1s; transform-style: preserve-3d; display:block; 
width: 324px; height:324px; }
.circle_box li:hover a{transform: rotateY(0.5turn);}
.circle_box li:hover span{opacity: 1;}
.circle_box li div{position: absolute; top: 0; left: 0%; width: 324px; height: 324px;
    font-size: 2rem; color: #fff; line-height: 324px; text-align: center;}
.circle_box li div.back{ background-color: rgba(234, 69, 69, 0.8); 
    width: 324px; height: 324px; border-radius: 50%;  opacity:0; }
.circle_box li span{position: absolute; display: block; width: 100%; height: 100%; top: 0.8rem; font-size: 2rem; color: #ffffff;
line-height: 324px; text-align: center; transition: 0.5s; z-index: 99;}

.circle_box li:hover div.back  { opacity:0.6; }
.circle_box li:nth-child(1) div.back,.circle_box li:nth-child(3) div.back,
.circle_box li:nth-child(6) div.back,.circle_box li:nth-child(8) div.back{
    background-color: rgba(40, 98, 49, 0.8);}
.circle_box li div.back img{display: block; width: 100%; height: 100%;}
.circle_wrap li a {background-repeat: no-repeat; background-position: center center; 
    background-size: cover;}
.circle_wrap li.item1 a {background-image: url(./images/li1.png); }
.circle_wrap li.item2 a {background-image: url(./images/li2.png);}
.circle_wrap li.item3 a {background-image: url(./images/li3.png);}
.circle_wrap li.item4 a {background-image: url(./images/li4.png);}
.circle_wrap li.item5 a {background-image: url(./images/li5.png);}
.circle_wrap li.item6 a {background-image: url(./images/li6.png);}
.circle_wrap li.item7 a {background-image: url(./images/li7.png);}
.circle_wrap li.item8 a {background-image: url(./images/li8.png);}


/* content영역 */
#content{clear: both; width: 100%;height: 2570px; background: #467e43;
     margin-top: 6rem;}
.con_box{width: 95%; height: 100%; margin: 0 auto;}
.con_box li {float: left; margin: 30px; padding-top: 1rem; position: relative;}
.con_box li:nth-child(5){margin: 0;}
.con_box span{display: block; font-size: 22px; margin-top: 10px; color: #ffffff; 
    padding: 10px; border-bottom: 1px solid #fff;font-weight: 500; 
    text-align: center; }
.con_box p{display: block; color: #ffffff; text-align: center; padding: 20px;
line-height: 1.5; font-size: 14px;}
.con_box li:nth-child(5) span, .con_box li:nth-child(5) p{margin-left: 30px;}

/*footer영역*/
#ft{clear: both; width: 100%; height: 90px; overflow: hidden; }
.ft_wrap{width: 100%; margin: 0 auto;}
.ftlogo{display: block; margin-top: 1.5rem;float: left; padding: 5px; margin-right: 20px; width: 120px; margin-left: 20px;}
.ft_menu{width: 100%; height: 30px; margin-top: 5px;}
.ft_menu li{float: left; margin-right: 10px; padding: 5px; margin-top: 10px;}
.ft_menu li:nth-child(3), .ft_menu li:nth-child(4), .ft_menu li:nth-child(7), .ft_menu li:nth-child(8){display: none;}
.ft_menu li a{display: block; color: #000; font-weight: bold; font-size: 12px;}
.copyright{display: none;}
.tel{display: none;}
.NH{display: none;}



