@charset "utf-8";
*{margin: 0;padding: 0;}
body, html{width: 100%; background: #fff; font-family: 'Noto Sans KR', sans-serif;
-ms-overflow-style: none;}
::-webkit-scrollbar{display: none;}
ul{list-style: none;}
a{text-decoration: none; border: none ; outline: none;}
image{border: none;}
button, label, input{outline: none; border: none; cursor: pointer; background: transparent;}

/* 기본설정 */
#hd{width: 100%; height: 150px; clear: both; }
#vs{clear: both; width: 100%; height: auto; overflow: hidden;}
#clinic{width: 100%; height: auto; clear: both; overflow: hidden;}
#board{width: 100%; height: 620px; clear: both; overflow: hidden; margin-top: 30px; }
#info{width: 100%; height: 300px; clear: both; overflow: hidden; }
#ft{width: 100%; height: 150px; clear: both; overflow: hidden; border-top: 2px solid #329544; margin-top: 100px; }

/* header 영역 */
#gnb{display: none;}
#mgnb{display: none;}
.logo{display: block; text-align: center; padding: 20px;}
.menu_icon{display: none;}
#tgnb{width: 100%; height: 60px; background-color: #329544; z-index: 100;}
.tgnb_box{width: 100%; height: 100%;}
.tgnb_box li.tgnb_txt{float: left; width: 24.9%;height: 60px; border-right: 1px solid #9bd4a6;
position: relative;}
.tgnb_box li.tgnb_txt:last-child{border-right: none; }
.tgnb_box li.tgnb_txt a{display: block; width: 100%;}
.tgnb_box li.tgnb_txt img{display: block; margin: 0 auto; margin-top: 22px;}
.tgnb_box:hover .tsub_box{visibility: visible;opacity:1; height: 270px;  }
.tsub_box{position: absolute; top: 60px; left: 0; border-top: 2px solid #fff; 
    border-bottom: 3px solid #329544; background: #e9fae4; width: 100%;
height: 0px; border-right: 1px solid #fff; overflow: hidden; visibility: hidden; opacity:0; transition: 0.6s; z-index: 200;}
.tsub_box li{width: 100%; line-height: 3.5; transition: 0.5s;}
.tsub_box li a{display: block; font-size: 13px; color: #000; font-weight: 500; text-align: center;}
.tsub_box li:checked{background-color: #329544;}
.tsub_box li:checked a{color: #ffffff; font-weight: 100;}


/* map */
.map_tit{font-size: 26px;margin-left: 100px; padding-top: 60px;}
.map_stit{font-size: 16px; margin-left: 80px; padding: 20px; display: block;}
#map{margin-left:calc(50% - 300px);	margin-top:30px; width:600px;height:400px; margin-bottom: 30px;}

#content p{ margin-left: 100px; font-size: 14px; line-height: 1.8; margin-top: 40px;}
#content p b{color: #329544;font-size: 16px;}





/* footer 영역 */
.ft_box{width: 768px; margin: 0 auto; margin-top: 10px;}
#ft img{display: block; margin:35px 0px 30px 40px;  float: left; }
#ft div.copy_box{margin-top: 20px; width: 490px; float: right;}
.copy_box p{display: block; font-size: 12px; line-height: 1.7; width: 100%;}