@charset "utf-8";
*{margin: 0;padding: 0;}
body, html{width: 100%; background: #fff; font-family: 'Noto Sans KR', sans-serif;
-ms-overflow-style: none;}
::-webkit-scrollbar{display: none;}
ul{list-style: none;}
a{text-decoration: none; border: none ; outline: none;}
image{border: none;}
button, label, input{outline: none; border: none; cursor: pointer; background: transparent;}

/* 기본설정 */
#hd{width: 100%; height: 175px; clear: both; }
#vs{clear: both; width: 100%; height: auto; overflow: hidden;}
#clinic{width: 100%; height: auto; clear: both; overflow: hidden;}
#board{width: 100%; height: 830px; clear: both; overflow: hidden; margin-top: 30px; }
#info{width: 100%; height: 500px; clear: both; overflow: hidden; }
#ft{width: 100%; height: 150px; clear: both; overflow: hidden; border-top: 2px solid #329544; margin-top: 100px; }

/* header 영역 */
.logo{display: block; text-align: center; padding: 30px;}
#gnb{width: 100%; height: 60px; background-color: #329544; z-index: 100;}
.menu_icon{display: none;}
#mgnb{display: none;}
.gnb_box{width: 100%; height: 100%;}
.gnb_box li.gnb_txt{float: left; width: 11.065%;height: 60px; border-right: 1px solid #9bd4a6;
position: relative;}
.gnb_box li.gnb_txt:last-child{border-right: none; }
.gnb_box li.gnb_txt a{display: block; width: 100%;}
.gnb_box li.gnb_txt img{display: block; margin: 0 auto; padding: 21px;}
.gnb_box:hover .sub_box{visibility: visible;opacity:1; height: 310px;  }
.sub_box{position: absolute; top: 60px; left: 0; border-top: 2px solid #fff; 
    border-bottom: 3px solid #329544; background: #e9fae4; width: 100%;
height: 0px; border-right: 1px solid #fff; overflow: hidden; visibility: hidden; opacity:0; transition: 0.6s; z-index: 200;}
.sub_box li{width: 100%; line-height: 3.5; transition: 0.5s;}
.sub_box li a{display: block; font-size: 15px; color: #000; font-weight: 500; text-align: center;}
.sub_box li:hover{background-color: #329544;}
.sub_box li:hover a{color: #ffffff; font-weight: 100;}

#tgnb{display: none;}

#vs img{display: block; width: 100%; height: 100%;}


/* map */
.map_tit{font-size: 30px;margin-left: 470px; padding-top: 100px;}
.map_stit{font-size: 18px; margin-left: 450px; padding: 20px; display: block;}
#map{margin-left:calc(50% - 500px);	margin-top:50px; width:1000px;height:700px; margin-bottom: 50px;}

#content p{ margin-left: 470px; font-size: 16px; line-height: 1.8; margin-top: 40px;}
#content p b{color: #329544;font-size: 18px;}





/* footer 영역 */
.ft_box{width: 840px; margin: 0 auto; margin-top: 10px;}
#ft img{display: block; margin:35px 0px 30px 30px;  float: left;}
#ft div.copy_box{margin-top: 20px; width: 550px; float: right;}
.copy_box p{display: block; font-size: 14px; line-height: 1.7; width: 100%;}