@charset "utf-8";
*{margin: 0;padding: 0;}
body, html{width: 100%; background: #fff; font-family: 'Noto Sans KR', sans-serif;
-ms-overflow-style: none;}
::-webkit-scrollbar{display: none;}
ul{list-style: none;}
a{text-decoration: none; border: none ; outline: none;}
image{border: none;}
button, label, input{outline: none; border: none; cursor: pointer; background: transparent;}

/* 기본설정 */
#hd{width: 100%; height: 70px; clear: both;  }
#content{width: 100%; clear: both;}
#ft{width: 100%; height: 170px; clear: both; overflow: hidden; border-top: 2px solid #329544; margin-top: 50px;}

/* header 영역 */
#gnb{display: none;}
#tgnb{display: none;}
.logo{display: block; text-align: center; padding: 10px; padding-top: 1.2rem; width: 35%; float: left; margin-left: 10px;}
.logo img{display: block; width: 100%;}
.menu_icon{ float: right; margin-right: 8px; margin-top: 6px;display: block; border-radius: 50%;}

/* menu_box */
#mgnb{position: fixed; top: 0;right: -110%;background: #d5e3d1; overflow-y: auto; width: 100%; height: 90%; z-index: 99; transition: 0.5s;}
#mgnb.on{right: 0;}
.mgnb_box{width: 100%; margin-top: 4.3rem; }
.homego{display: block; width: 100px; height: 40px; position: absolute; color: #329544; font-weight: bold;text-align: center; line-height: 40px; margin-top: 15px; padding-left: 20px;}
.homego:before{content: ""; width: 3px; height: 20px; display: block; position: absolute; top: 11px; left: 20px; background-color: #329544;}
.mgnb_box li.mgnb_txt{width: 100%; background: #329544; margin-top: 1px; position: relative;}
.mgnb_box li.mgnb_txt a.g_tit{width: 100%; display: block; text-indent: 20px;padding: 15px;}


.msub_box{width: 100%; display: none; background: #d5e3d1; margin:0px 0 10px 0px; border-top: 1px solid #fff; padding-top: 20px;}
.msub_box li{ width: 100%; height: 40px;}
.msub_box li a{display: block; color: #329544; font-size: 14px; font-weight: 600; width: 250px; text-indent: 50px;}


.online{position: fixed; right: -110%;bottom: 0; display: block; width: 100%; height: 80px; background: #329544; border-top: 2px solid #fff; transition: 0.5s;}
.online.on{right: 0;}
.online img{display: block; padding: 15px;
margin-left: 30px; float: left; width: 60px;}
.online span{display: block; color: #fff; font-size: 18px; padding: 18px; float: right; margin-right: 30px; margin-top: 10px;}


.close{position: absolute; top: 3px; right: 0px; background: #329544; border-radius: 50%;
width: 45px; height: 45px;padding: 5px; margin: 10px;}
.close img{display: block; width: 100%;}



/* main */
#clinic{width: 100%; clear: both; }
.rdo_box{float: left; width: 100%;margin-bottom: 70px; margin-top: 00px;}
.arti_box{float: right; width: 100%;}

.rdo_tit{display: block;width: 73%; color: #329544; font-size: 20px; font-weight: bold;padding: 10px; margin-left: 40px; margin-top: 30px; border-bottom: 2px solid #329544; text-align: center;}
.rdo_box label{display: block; padding: 5px; margin: 15px; width: 73%; border-bottom: 1px solid #ccc; font-weight: 500; margin-left: 50px; display: block; font-size: 15px; text-align: center;}
.rdo{display: none;}
#rd1:checked ~ .rdo_box #rbtn1{color: #329544;}
#rd2:checked ~ .rdo_box #rbtn2{color: #329544;}
#rd3:checked ~ .rdo_box #rbtn3{color: #329544;}
#rd4:checked ~ .rdo_box #rbtn4{color: #329544;}
#rd5:checked ~ .rdo_box #rbtn5{color: #329544;}
.article{display: none;}
#rd1:checked ~ .arti_box #tab1{display: block;}
#rd2:checked ~ .arti_box #tab2{display: block;}
#rd3:checked ~ .arti_box #tab3{display: block;}
#rd4:checked ~ .arti_box #tab4{display: block;}
#rd5:checked ~ .arti_box #tab5{display: block;}


.article{width: 90%; margin: 0 auto 100px 1.7rem; }
.article h1{margin-top: 0px; text-align: center;font-size: 18px;}
.vsimg{width: 95%; margin-top:10px;}
.article h2{padding: 10px; width: 87%; margin-top: 30px; border-bottom: 1px solid #68aa51; font-size: 16px; color: #68aa51;}
.article p{width: 90%; padding: 10px; margin-top: 10px; line-height: 1.8; font-size: 14px;}
 
.subcon{margin-left: 0px;}
.subcon span{width: 130px; display: block; padding: 5px;color: #fff; background: #68aa51; border-radius: 15px 15px 0 0; text-align: center; margin-top: 20px; margin-left: 0rem; font-size: 14px; }
.subcon p{font-size: 13px; padding: 10px; border: 1px solid #68aa51; margin-top: 0; color: #666;}







/* footer 영역 */
.ft_box{width: 100%; margin-top: 10px;}
#ft img{display: block;width: 28%; padding: 15px; margin: 0 auto; }
#ft div.copy_box{clear: both; margin-left: 10px; width: 62%; text-align: center; margin: 0 auto;}
.copy_box p{display: block; font-size: 9px; line-height: 1.5; text-align: center;}