@charset "utf-8";
*{margin: 0;padding: 0;}
body, html{width: 100%; background: #fff; font-family: 'Noto Sans KR', sans-serif;
-ms-overflow-style: none;}
::-webkit-scrollbar{display: none;}
ul{list-style: none;}
a{text-decoration: none; border: none ; outline: none;}
image{border: none;}
button, label, input{outline: none; border: none; cursor: pointer; background: transparent;}

/* 기본설정 */
#hd{width: 100%; height: 175px; clear: both; }
#ft{width: 100%; height: 150px; clear: both; overflow: hidden; border-top: 2px solid #329544; margin-top: 100px; }

/* header 영역 */
.logo{display: block; text-align: center; padding: 30px;}
#gnb{width: 100%; height: 60px; background-color: #329544; z-index: 100;}
.menu_icon{display: none;}
#mgnb{display: none;}
.gnb_box{width: 100%; height: 100%;}
.gnb_box li.gnb_txt{float: left; width: 11.065%;height: 60px; border-right: 1px solid #9bd4a6;
position: relative;}
.gnb_box li.gnb_txt:last-child{border-right: none; }
.gnb_box li.gnb_txt a{display: block; width: 100%;}
.gnb_box li.gnb_txt img{display: block; margin: 0 auto; padding: 21px;}
.gnb_box:hover .sub_box{visibility: visible;opacity:1; height: 310px;  }
.sub_box{position: absolute; top: 60px; left: 0; border-top: 2px solid #fff; 
    border-bottom: 3px solid #329544; background: #e9fae4; width: 100%;
height: 0px; border-right: 1px solid #fff; overflow: hidden; visibility: hidden; opacity:0; transition: 0.6s; z-index: 200;}
.sub_box li{width: 100%; line-height: 3.5; transition: 0.5s;}
.sub_box li a{display: block; font-size: 15px; color: #000; font-weight: 500; text-align: center;}
.sub_box li:hover{background-color: #329544;}
.sub_box li:hover a{color: #ffffff; font-weight: 100;}

#tgnb{display: none;}

/* main */
#clinic{width: 100%; clear: both; }
.rdo_box{float: left; width: 20%; height: 100vh; margin-top: 50px;}
.arti_box{float: right; width: 80%;}

.rdo_tit{display: block;width: 180px; color: #329544; font-size: 24px; font-weight: bold;padding: 15px; margin-left: 40px; margin-top: 30px; border-bottom: 3px solid #329544; margin-left: 7rem;}
.rdo_box label{display: block; padding: 5px; margin: 15px; width: 180px; border-bottom: 1px solid #ccc; font-weight: 500; text-indent: 10px; margin-left: 50px; display: block; margin-left: 7rem;}
.rdo{display: none;}
#rd1:checked ~ .rdo_box #rbtn1{color: #329544;}
#rd2:checked ~ .rdo_box #rbtn2{color: #329544;}
#rd3:checked ~ .rdo_box #rbtn3{color: #329544;}
#rd4:checked ~ .rdo_box #rbtn4{color: #329544;}
#rd5:checked ~ .rdo_box #rbtn5{color: #329544;}
.article{display: none;}
#rd1:checked ~ .arti_box #tab1{display: block;}
#rd2:checked ~ .arti_box #tab2{display: block;}
#rd3:checked ~ .arti_box #tab3{display: block;}
#rd4:checked ~ .arti_box #tab4{display: block;}
#rd5:checked ~ .arti_box #tab5{display: block;}


.article{width: 80%; margin: 0 auto 150px; }
.article h1{margin-top: 100px; text-indent: 20px;}
.vsimg{width: 1150px; margin-top:30px;}
.article h2{padding: 15px; width: 90.5%; margin-top: 100px; border-bottom: 3px solid #68aa51; font-size: 26px; color: #68aa51;}
.article p{width: 80%; padding: 20px; margin-top: 20px; line-height: 1.8; font-size: 18px;}

.subcon{margin-left: 20px;}
.subcon span{width: 150px; display: block; padding: 10px;color: #fff; background: #68aa51; border-radius: 15px 15px 0 0; text-align: center; margin-top: 20px;}
.subcon p{font-size: 15px; padding: 10px; border: 1px solid #68aa51; margin-top: 0; color: #666;}


/* footer 영역 */
.ft_box{width: 840px; margin: 0 auto; margin-top: 10px;}
#ft img{display: block; margin:35px 0px 30px 30px;  float: left;}
#ft div.copy_box{margin-top: 20px; width: 550px; float: right;}
.copy_box p{display: block; font-size: 14px; line-height: 1.7; width: 100%;}