@charset "utf-8";
*{margin: 0;padding: 0;}
body, html{width: 100%;}
ul{list-style: none;}
img{border: 0;}
a{text-decoration: none;}
label, input, button{border: 0; outline: 0; background-image: none; background-color: transparent;}
table{}


/* header */
.hd{clear: both; width: 100%; height: 65px;  position: relative;}
.logo img{display: block; width: 45px; height: 45px;  position: absolute; top: 10px; left:calc(50% - 25px); } 
.lst_btn img{width:25px; float: left; margin-top: 23px; margin-left: 22px;}
.ck_item{display: none;}
.search{display:block; width: 28px; height: auto; position: absolute; right: 20px; top: 19px;}
.search img { display:block; width: 100%; }

/* 리스트 박스 */
#lst_box{ position: fixed; z-index: 99; top: 0; left: -110% ; width: 100%; height: 100vh; background:#faf7f3;
    transition: 0.6s;}
#ck1:checked ~ #lst_box{left: 0;}
.gnb{margin-top: 30px; margin-left: 30px; width: 310px; height: 555px; 
    border: 1px solid #000; padding-top: 50px;}
.gnb li{line-height: 40px; margin-left: 25px; }
.sub_txt{display: block; color: #202020; font-size: 14px; font-weight: 100; margin: 0;}
.gnb li a.ssub_txt{margin-left: 50px; font-size: 12px; color: #000000;}
.ssub{height: 0px; opacity: 0; overflow: hidden; transition: 0.6s;}
#lst_menu1:checked + .sub .menu_sub1{height: 125px; opacity: 1;}
#lst_menu2:checked + .sub .menu_sub2{height: 125px; opacity: 1;}
.lst_menu{display: none;}
.close{display: block; width: 35px; height: 35px; 
    background-image: url(./img/close.png); background-repeat: no-repeat;
    background-position: center center; background-color: #000;
    position: absolute; bottom: 30px; right: 33px; opacity: 1; }
.sns_box{position: absolute; top: 40px; right: 55px; font-size: 25px;}
.sns_box li{float: left; width: 15px; height: 15px;}

/* search 박스 */
#search_box{position: fixed; width: 100%; height: 100vh; right: -110%; top: 0; transition: 0.6s;
background: #faf7f3; z-index: 99;}
#search_box.on{right: 0;}
.search_txt_box{width: 280px; height: 50px; margin-top: 100px; margin-left: 55px;}
.in_data{background: #fff; width: 220px; height: 30px; border: 1px solid #000; text-indent: 10px;}
.search_btn{width: 32px; height: 32px; background: #000; position: absolute; 
top: 100px;}
.search2{position: absolute; width: 25px; height: 25px; right: 69px; top: 103px; z-index: 120;}

/* footer */
.ft{clear: both; width: 100vw; height: 100px; background:#faf7f3; position: relative;
    }
.ft_menu{width: 300px;  height: 30px; position: absolute; top: 10px; left: 75px;}
.ft_menu li{float: left; margin-right: 10px;}
.ft_menu li a{display: block; color: #000000;}
.fnb li a{display: block; font-size: 12px; line-height: 30px;}
.copyright{font-size: 11px; position: absolute; top: 50px; left: 37px; 
    text-align: center; line-height: 20px;}