




/* content */
.slide{clear: both; width: 100vw; height: auto; overflow: hidden;}
.vs{width: 500%; height: 360px; position: relative;}
.vsimg{position: absolute; width: 20%; top: 0; left: 0; opacity: 0; transition:0.8s;}
.vsimg.on{opacity: 1;}
.vs img{width: 100%; height: 100%;}

.vs_menu_box{clear: both; overflow: hidden; width: 100vw;}
.vs_menu_box li{float: left; width: 50%; position: relative;}
.vs_menu_box h3{position: absolute; top: 15px; left: 20px; color: #000;
font-family:  'NanumBarunGothicUltraLight', sans-serif;font-weight: 500;}
.vs_menu{width: 100%; height: auto;}

/* vedio */
.mv_page{clear: both; width: 100vw; position: relative; margin-bottom: 30px; }
.mv_txt{font-size: 18px; width: 100vw; height: 50px; text-align: center; line-height: 50px;}
#vdo1{ display:block; width: 100%; height: 100%;}
#play_btn{font-size: 3em; position: absolute; top: 50%; left: calc(50% - 25px); width: 50px;
color: #ffffff;}
